@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
    font-family: "CodecProBold";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProBold/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProBold/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProExtraBold";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProExtraBold/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProExtraBold/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProRegular";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProRegular/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProRegular/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProNews";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProNews/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProNews/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProBoldItalic";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProBoldItalic/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProBoldItalic/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProUltraItalic";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProUltraItalic/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProUltraItalic/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProThinItalic";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProThinItalic/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProThinItalic/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProItalic";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProItalic/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProItalic/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProUltraBlackItalic";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProUltraBlackItalic/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProUltraBlackItalic/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProUltra";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProUltra/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProUltra/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProExtraBoldItalic";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProExtraBoldItalic/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProExtraBoldItalic/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProLightItalic";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProLightItalic/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProLightItalic/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProExtraLightItalic";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProExtraLightItalic/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProExtraLightItalic/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProUltraBlack";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProUltraBlack/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProUltraBlack/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProFat";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProFat/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProFat/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProLight";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProLight/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProLight/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProHeavyItalic";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProHeavyItalic/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProHeavyItalic/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProNewsItalic";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProNewsItalic/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProNewsItalic/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProThin";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProThin/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProThin/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProFatItalic";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProFatItalic/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProFatItalic/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProExtraLight";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProExtraLight/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProExtraLight/font.woff') format('woff');
}

@font-face {
    font-family: "CodecProHeavy";
    src: url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProHeavy/font.woff2') format('woff2'), url('/fonts/CODECPRO_FONT/Codec_Pro/webFonts/CodecProHeavy/font.woff') format('woff');
}


@font-face {
    font-family: "inter";
    src: url('/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}